In [1]:
%matplotlib inline
import pandas as pd

In [2]:
cast = pd.read_csv('data/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [21]:
movies = cast[['title', 'year']].drop_duplicates()

In [22]:
print("Total number of titles:", len(movies))

Total number of titles: 187759

### What are the earliest two films listed in the titles dataframe?

In [24]:
movies.sort_values('year').head(2)

                         title  year
464860              Miss Jerry  1894
1718063  Soldiers of the Cross  1900

### How many movies have the title "Hamlet"?

In [63]:
hamlets = movies[movies['title'] == 'Hamlet']

In [64]:
print("Total movies named 'Hamlet' are", hamlets.count().iloc[0])

Total movies named 'Hamlet' are 17

### How many movies are titled "North by Northwest"?

In [139]:
non = movies[movies['title'] == 'North by Northwest']

In [140]:
print("Total movies named 'North by Northwest' are:", non.count().iloc[0])

Total movies named 'North by Northwest' are: 1

### When was the first movie titled "Hamlet" made?

In [82]:
firsthamlet = hamlets.sort_values('year')

In [83]:
print("First hamlet was published in year", firsthamlet.iloc[0]['year'])

First hamlet was published in year 1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [90]:
movies[movies['title'] == 'Treasure Island'].sort_values('year')

                  title  year
339256  Treasure Island  1918
374597  Treasure Island  1920
9432    Treasure Island  1934
13253   Treasure Island  1950
42039   Treasure Island  1972
523169  Treasure Island  1973
16246   Treasure Island  1985
114904  Treasure Island  1999

### How many movies were made in the year 1950?

In [95]:
print("Total movies made in the year 1950 are", movies[movies['year'] == 1950]['year'].count())

Total movies made in the year 1950 are 907

### How many movies were made in the year 1960?

In [96]:
print("Total movies made in the year 1950 are", movies[movies['year'] == 1960]['year'].count())

Total movies made in the year 1950 are 1088

### How many movies were made from 1950 through 1959?

In [107]:
m50_59 = movies[ movies['year'].between(1950, 1959)]

In [111]:
print("Total number of movies mad between 1950 and 1959 are", m50_59.shape[0])

Total number of movies mad between 1950 and 1959 are 10130

### In what years has a movie titled "Batman" been released?

In [112]:
movies[movies['title'] == 'Batman'].sort_values('year')

         title  year
95672   Batman  1943
114034  Batman  1989

### How many roles were there in the movie "Inception"?

In [119]:
nroles = cast[cast['title'] == 'Inception']

In [120]:
print("Number of roles in inception:", nroles.shape[0])

Number of roles in inception: 77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [131]:
rroles = nroles[nroles['n'].isna()]

In [132]:
print("Number of ranked roles in inception", rroles.shape[0])

Number of ranked roles in inception 26

### But how many roles in the movie "Inception" did receive an "n" value?

In [134]:
rroles = nroles[nroles['n'].notna()]

In [135]:
print("Number of ranked roles in inception", rroles.shape[0])

Number of ranked roles in inception 51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [159]:
non = cast[cast['title'] == 'North by Northwest']
noncast = non[non['n'].notna()]['name']
print(noncast)

198496             Edward Binns
343701           Leo G. Carroll
447893          Philip Coolidge
642085        Robert Ellenstein
840374               Cary Grant
1229083           Martin Landau
1334726               Ken Lynch
1404704             James Mason
1454363           Patrick McVey
1634552             Philip Ober
1746383            Edward Platt
2212083            Les Tremayne
2357939           Adam Williams
2923056    Josephine Hutchinson
3024085     Jessie Royce Landis
3361396         Eva Marie Saint
Name: name, dtype: object

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [167]:
cast.loc[(cast['title'] == 'Sleuth') & (cast['year'] == 1972)]['name']

314691          Michael Caine
360365         Alec Cawthorne
1396572          Teddy Martin
1412647    John (II) Matthews
1644328      Laurence Olivier
2619278    Eve (III) Channing
Name: name, dtype: object

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [168]:
cast.loc[(cast['title'] == 'Sleuth') & (cast['year'] == 2007)]['name']

250297         Kenneth Branagh
314692           Michael Caine
360366     Alec (II) Cawthorne
1246855               Jude Law
1741124          Harold Pinter
2619277      Eve (II) Channing
3223502      Carmel O'Sullivan
Name: name, dtype: object

### How many roles were credited in the silent 1921 version of Hamlet?

In [171]:
print("Number of credited roles in Hamlet (1921) :", cast.loc[(cast['title'] == 'Hamlet') & (cast['year'] == 1921)].shape[0])

Number of credited roles in Hamlet (1921) : 9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [173]:
print("Number of credited roles in Hamlet (1996) :", cast.loc[(cast['title'] == 'Hamlet') & (cast['year'] == 1996)].shape[0])

Number of credited roles in Hamlet (1996) : 54

### How many "Hamlet" roles have been listed in all film credits through history?

In [179]:
print("Number of credited roles in Hamlet (1921) :", cast.loc[(cast['title'] == 'Hamlet')].shape[0])

Number of credited roles in Hamlet (1921) : 313

### How many people have played an "Ophelia"?

In [185]:
print("number of actor played the character Ophelia are :", cast.loc[cast['character'] == 'Ophelia'].shape[0])

number of actor played the character Ophelia are : 111

### How many people have played a role called "The Dude"?

In [189]:
print("number of actor played the character The Dude are :", cast.loc[cast['character'] == 'The Dude'].shape[0])

number of actor played the character The Dude are : 18

### How many people have played a role called "The Stranger"?

In [190]:
print("number of actor played the character The Stranger are :", cast.loc[cast['character'] == 'The Stranger'].shape[0])

number of actor played the character The Stranger are : 208

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,NaN
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
...,...,...,...,...,...,...
3611207,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0
3611208,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0
3611209,Skammdegi,1985,Dalla ??r?ard?ttir,actress,Hj?krunarkona,9.0
3611210,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0
3611211,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN

### How many roles has Sidney Poitier played throughout his career?

In [194]:
print("Number of roles played by the Sidney Poitier are:", cast.loc[cast['name'] == 'Sidney Poitier'].shape[0])

Number of roles played by the Sidney Poitier are: 43

### How many roles has Judi Dench played?

In [195]:
print("Number of roles played by Judi Dench are:", cast.loc[cast['name'] == 'Judi Dench'].shape[0])

Number of roles played by Judi Dench are: 55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [213]:
carygrant = (cast['name'] == 'Cary Grant')
condb = (cast['n'] == 2)
print("Number of supporting roles played by Cary Grant are:", cast.loc[carygrant & condb].shape[0])

Number of supporting roles played by Cary Grant are: 20

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [214]:
print("Number of roles played by Cary Grant in 1940s are:", cast.loc[carygrant]['year'].between(1940,1949).shape[0])

Number of roles played by Cary Grant in 1940s are: 82

### How many roles were available for actors in the 1950s?

In [219]:
print("Roles for actors in 1950s", cast[(cast['type'] == 'actor') & cast['year'].between(1950,1959)].shape[0])

Roles for actors in 1950s 154727

### How many roles were available for actresses in the 1950s?

In [220]:
print("Roles for actors in 1950s", cast[(cast['type'] == 'actress') & cast['year'].between(1950,1959)].shape[0])

Roles for actors in 1950s 56259

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [222]:
print("Leading roles till 1980s", cast[(cast['n'] == 1) & (cast['year'] < 1990)].shape[0])

Leading roles till 1980s 75762

### How many non-leading roles were available through from the beginning of film history through 1980?

In [223]:
print("Leading roles till 1980s", cast[(cast['n'] != 1) & (cast['year'] < 1990)].shape[0])

Leading roles till 1980s 1342856

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [227]:
print("Leading roles till 1980s", cast[(cast['n'].isna()) & (cast['year'] < 1990)].shape[0])

Leading roles till 1980s 484573